@font-face {
    font-family: "Oswald";
    src: url("./Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Literata";
    src: url("./Literata/Literata-Italic-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("./Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("./Lato/Lato-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Lato";
    src: url("./Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("./Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300; 
}