@import '@fortawesome/fontawesome-free';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/fonts.css";


html {
    height: 100%;

    scrollbar-width: thin;
    scrollbar-color: #cccccc #f1f1f1;
}

html:hover {
  scrollbar-color: #BBEE85 #f1f1f1;
}

html:active {
  scrollbar-color: #A8D678 #f1f1f1;
}

body {
    max-width: 100%;
    min-height: 100%;
}

body:has(#menu) {
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #525A63;
}

